@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background{
    background-color: palevioletred;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 30%;
    display: flex;
    justify-content: center;
}
#circle{
    background-color: purple;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    animation: fade 2s ease-in;
    color: white;
    font-size: 10vh;    
    margin: auto;
    text-align: center;
}